.Header {
	background-color: #282c34;
	text-align: center;
	color: white;
	display: flex;
	align-items: center;
}

.Header {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.Header-item {
	vertical-align: middle;
	margin: auto;
	font-size: 34px;
}
