.Sidebar {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: rgb(60, 82, 107);
}

.Sidebar_item {
	text-align: center;
	display: block;
	margin: 10px auto;
	font-size: 20px;
	line-height: 30px;
}

.Sidebar_item a {
	color: rgb(114, 205, 221);
}

.active {
	/* border: 2px solid darkblue; */
	background-color: rgb(85, 21, 145);
	box-shadow: 0 0 30px rgb(47, 8, 83);
	border-radius: 10px;
}
